{
  "presets": [
    ["@babel/preset-env",
      {
        "debug": false,
        "useBuiltIns": "usage"
      }
    ],
    ["@babel/preset-react"]
  ],
  "plugins": [
    "@babel/plugin-transform-arrow-functions"
  ]
}